<div class="item-form">
  <h1 class="item-form__title">New Outfit</h1>

  <%= simple_form_for @outfit, html: { multipart: true, class: "item-form__card" } do |f| %>

    <div class="form-inputs">

      <!-- 左カラム -->
      <div class="form-fields">
        <div class="item-form__field mb-3">
          <%= f.input :name, input_html: { class: "item-input" } %>
        </div>

        <div class="item-form__field mb-3">
          <%= f.input :description, input_html: { class: "item-input" } %>
        </div>

        <div class="item-form__field mb-3">
          <%= f.input :jacket, as: :file, input_html: { accept: "image/*", class: "item-input" } %>
        </div>

        <div class="form-actions mt-4">
          <%= f.submit "Edit Outfit", class: "btn-primary btn-lg w-100" %>
        </div>
      </div>
    </div>

  <% end %>
</div>
