<div class="outfit-edit">
  <h1>Edit Outfit</h1>

  <%= form_with model: @outfit do |f| %>
    <div class="edit-container">

      <!-- 左の画像カラム -->
      <div class="items-column">
        <% 4.times do %>
          <div class="item-box"></div>
        <% end %>

        <!-- ここにテキストボックスを追加 -->
        <div class="text-area-below">
          <%= f.text_field :description, placeholder: "TEXT BOX" %>
          <button type="button">▶</button>
        </div>
      </div>

      <!-- 右のボタン群 -->
      <div class="action-column">
        <%= f.submit "UPDATE", class: "btn" %>
        <%= link_to "ADVICE", "#", class: "btn" %>
        <%= link_to "OMAKASE", "#", class: "btn bottom-btn" %>
      </div>

    </div>
  <% end %>
</div>
