<div class="item-form">
  <h1 class="item-form__title">Edit Outfit</h1>

  <%= simple_form_for @outfit, html: { multipart: true, class: "item-form__card" } do |f| %>

    <div class="form-inputs">

      <!-- 左カラム -->
      <div class="form-fields">
        <div class="item-form__field mb-3">
          <%= f.input :name, input_html: { class: "item-input" } %>
        </div>

        <div class="item-form__field mb-3">
          <%= f.input :description, input_html: { class: "item-input" } %>
        </div>

        <%= f.input :top_item_id,
            collection: @tops,
            label_method: :name,
            value_method: :id,
            include_blank: "Select a Top"  %>

        <%= f.input :bottom_item_id,
            collection: @bottoms,
            label_method: :name,
            value_method: :id,
            include_blank: "Select a Top" %>

        <%= f.input :footwear_item_id,
            collection: @footwear,
            label_method: :name,
            value_method: :id,
            include_blank: "Select a Top" %>

        <%= f.input :outer_item_id,
            collection: @outers,
            label_method: :name,
            value_method: :id,
            include_blank: "Select a Top" %>




        <div class="form-actions mt-4">
          <%= f.submit "Create Outfit", class: "main-button" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="container my-3">
    <% if @outfit.persisted? %>
      <%= link_to "Ask for Advice", chat_outfit_path(@outfit), class: "main-button" %>
    <% end %>
  </div>
</div>
