<div class="container d-flex flex-column align-items-center text-center pb-5">
  <div class="container d-flex flex-column align-items-center mt-3">
    <h1>Pokeclo</h1>
    <h2>My Outfits</h2>

    <div class="outfit-items-grid">
      <% @outfits.each do |outfit| %>
        <div class="outfit-item-card">
          <%= link_to outfit_path(outfit), class: "outfit-item-link" do %>
            <div class="outfit-item-shell">
              <p class="outfit-item-title"><%= outfit.name %></p>

              <div class="outfit-item-image">
                <% outfit_item = outfit.outfit_items[0] %>
                <%= cl_image_tag(outfit_item.item.photo.key, class: "outfit-item-img") if outfit_item&.item&.photo&.attached? %>
              </div>

              <div class="outfit-item-text">
                <p class="outfit-item-subtitle"><%= outfit.description %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= button_to "Create an Outfit",
      outfits_path,
      method: :post,
      params: {
      outfit: {
      name: "Untitled Outfit",
      description: "Add your outfit description."
      },
      open_in_new: true
      },
      class: "main-button border-0" %>
  </div>
  <div class="container mt-3">
    <%= link_to "Back to items", items_path, class: "main-button" %>
  </div>
</div>
