<div class="outfit-edit">
  <h1>New Outfit</h1>

  <%= simple_form_for @outfit, html: { multipart: true } do |f| %>

    <div class="edit-container">

      <!-- 左カラム -->
      <div class="left-column">
        <%= f.input :name %>

        <%= f.input :description %>

        <%= f.input :jackets,
                    as: :file,
                    input_html: { multiple: true, accept: "image/*" } %>

        <%= f.submit "Create Outfit", class: "btn btn-primary" %>
      </div>

      <!-- 右カラム -->
      <div class="action-column">
        <%= f.submit "CREATE", class: "btn" %>
        <%= link_to "ADVICE", "#", class: "btn" %>
        <%= link_to "OMAKASE", "#", class: "btn bottom-btn" %>
      </div>

    </div>

  <% end %>
</div>
