<div class="outfit-show p-4">
  <div class="container outfit-card">
    <div class="callout">
      <span class="callout-text-slot-one">
        <% outfit_item = @outfit.outfit_items[0] %>
        <%= outfit_item.item.name.capitalize %><br>
        <span style="font-size: 8px;">
          <% outfit_item = @outfit.outfit_items[0] %>
          <%= outfit_item.item.description %>
        </span>
      </span>

      <div class="outfit-show-img-one">
        <% outfit_item = @outfit.outfit_items[0] %>
        <%= cl_image_tag(outfit_item.item.photo.key) if outfit_item&.item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-one"></div>

      <span class="callout-text-slot-two">
        Teste 3<br>
        Teste 4
      </span>

      <div class="outfit-show-img-two">
        <% outfit_item = @outfit.outfit_items[0] %>
        <%= cl_image_tag(outfit_item.item.photo.key) if outfit_item&.item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-two"></div>

      <span class="callout-text-slot-three">
        Teste 5<br>
        Teste 6
      </span>

      <div class="outfit-show-img-three">
        <% outfit_item = @outfit.outfit_items[0] %>
        <%= cl_image_tag(outfit_item.item.photo.key) if outfit_item&.item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-three"></div>

      <span class="callout-text-slot-four">
        Teste 7<br>
        Teste 8
      </span>

      <div class="outfit-show-img-four">
        <% outfit_item = @outfit.outfit_items[0] %>
        <%= cl_image_tag(outfit_item.item.photo.key) if outfit_item&.item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-four"></div>
    </div>

    <div class="container d-flex justify-content-center mt-3">
      <%= link_to "Edit", edit_outfit_path(@outfit), class: "main-button" %>
    </div>
  </div>

  <hr>

  <div class="container">
    <h2><%= @outfit.name %></h2>
    <p><%= @outfit.description %></p>

    <div class="d-flex justify-content-center">
      <%= link_to "Back", outfits_path, class: "main-button" %>
    </div>
  </div>
</div>
