<div class="outfit-show p-4">
  <div class="container outfit-card">
    <div class="callout">
      <% outfit_item = @outfit.outfit_items[0] %>
      <% item = outfit_item&.item %>
      <span class="callout-text-slot-one">
        <% if item %>
          <%= item.name.capitalize %><br>
          <span style="font-size: 8px;">
            <%= truncate(item.description, length: 30) %>
          </span>
        <% else %>
          No item selected
        <% end %>
      </span>

      <div class="outfit-show-img-one">
        <%= cl_image_tag(item.photo.key) if item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-one"></div>

      <% outfit_item = @outfit.outfit_items[1] %>
      <% item = outfit_item&.item %>
      <span class="callout-text-slot-two">
        <% if item %>
          <%= item.name.capitalize %><br>
          <span style="font-size: 8px;">
            <%= truncate(item.description, length: 30) %>
          </span>
        <% else %>
          No item selected
        <% end %>
      </span>

      <div class="outfit-show-img-two">
        <%= cl_image_tag(item.photo.key) if item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-two"></div>

      <% outfit_item = @outfit.outfit_items[2] %>
      <% item = outfit_item&.item %>
      <span class="callout-text-slot-three">
        <% if item %>
          <%= item.name.capitalize %><br>
          <span style="font-size: 8px;">
            <%= truncate(item.description, length: 30) %>
          </span>
        <% else %>
          No item selected
        <% end %>
      </span>

      <div class="outfit-show-img-three">
        <%= cl_image_tag(item.photo.key) if item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-three"></div>

      <% outfit_item = @outfit.outfit_items[3] %>
      <% item = outfit_item&.item %>
      <span class="callout-text-slot-four">
        <% if item %>
          <%= item.name.capitalize %><br>
          <span style="font-size: 8px;">
            <%= truncate(item.description, length: 30) %>
          </span>
        <% else %>
          No item selected
        <% end %>
      </span>

      <div class="outfit-show-img-four">
        <%= cl_image_tag(item.photo.key) if item&.photo&.attached? %>
      </div>

      <div class="callout-line-slot-four"></div>
    </div>

    <div class="container d-flex justify-content-center mt-3">
      <%= link_to "Edit", edit_outfit_path(@outfit), class: "main-button" %>
    </div>
  </div>

  <hr>

  <div class="container">
    <h2><%= @outfit.name %></h2>
    <p><%= @outfit.description %></p>

    <div class="d-flex justify-content-center">
      <%= link_to "Back", outfits_path, class: "main-button" %>
    </div>
  </div>
</div>
