<div class="outfit-show">
  <div class="outfit-card show-card">

    <div class="image-box">
      <% if @outfit.jacket.attached? %>
        <%= image_tag @outfit.jacket, class: "card-image" %>
      <% else %>
        <p>No Image</p>
      <% end %>
    </div>

    <div class="card-info">
      <h2><%= @outfit.name %></h2>
      <p><%= @outfit.description %></p>

      <div class="show-buttons">
        <%= link_to "Edit", edit_outfit_path(@outfit), class: "btn" %>

        <%= link_to "Delete",
              outfit_path(@outfit),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "btn" %>
      </div>
    </div>

  </div>
</div>
