<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-main px-3">

    <%= link_to dashboard_path, class: "navbar-item #{'active' if current_page?(dashboard_path)}" do %>
      <i class="fa-solid fa-house navbar-icon"></i>
      <span class="navbar-text">Home</span>
    <% end %>

    <%= link_to items_path, class: "navbar-item #{'active' if controller_name == 'closet'}" do %>
      <i class="fa-solid fa-shirt navbar-icon"></i>
      <span class="navbar-text">Closet</span>
    <% end %>

    <%= form_with(model: Item, url: capture_photo_items_path, local: true, class: "navbar-item navbar-item-form", method: :post) do |f| %>
      <label class="navbar-item-label">
        <i class="fa-solid fa-camera navbar-icon"></i>
        <span class="navbar-text">New Item</span>
        <%= f.file_field :photo,
          accept: "image/*",
          capture: "camera",
          class: "d-none",
          onchange: "this.form.submit();" %>
      </label>
    <% end %>

    <%= link_to outfits_path, class: "navbar-item #{'active' if controller_name == 'outfits'}" do %>
      <i class="fa-solid fa-star navbar-icon"></i>
      <span class="navbar-text">Outfits</span>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Log out", destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%= link_to "Sign In", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>
