<h1>Pokeclo</h1>
<p>Get advices from Pokeclo on your next outfit</p>
<div class="container" style="width: 100%; height: 100%S;">
  <%= image_tag "home.jpg", style: "width: 100%; height: 100%; object-fit: cover;" %>
  <%= link_to 'Sign In', new_user_registration_path, class: "btn btn-primary rounded-pill"%>
  <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary rounded-pill"%>
</div>

<h2>About Pokeclo</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta vitae turpis et mollis. Sed commodo sagittis nisi. Sed eu volutpat lacus, vitae varius diam. Etiam a lorem massa. Donec.</p>

<h3>Features</h3>
<ul>
<li>Lorem ipsum dolor sit amet</li>
<%= image_tag "phlogo.png", style: "width: 100%; height: 100%; object-fit: cover;" %>

<li>Lorem ipsum dolor sit amet</li>
<%= image_tag "phlogo.png", style: "width: 100%; height: 100%; object-fit: cover;" %>

<li>Lorem ipsum dolor sit amet</li>
<%= image_tag "phlogo.png", style: "width: 100%; height: 100%; object-fit: cover;" %>
</ul>
  <%= link_to 'Sign In', new_user_registration_path, class: "btn btn-primary rounded-pill"%>

<p>FOOTER INFORMATION.</p>
