<div class="container d-flex flex-column align-items-center text-center pb-5  ">
  <div class="container d-flex flex-column align-items-center mt-3">
    <h1> Pokeclo</h1>
    <h2>My Items</h2>
    <div class="cards-wrapper">
      <% @items.each do |item| %>
        <div class="product-card">
            <div class="product-unique-card">
              <p class="product-title"><%= item.name %></p>
              <div class="product-image product-image-wrapper" style="object-fit: cover;" >
                <%= link_to item_path(item) do %>
                <%= cl_image_tag item.photo.key if item.photo.attached? %>
                <span class="product-badge rounded-pill bg-primary"><%= item.slot %></span>
                <% end %>
              </div>
              <div class="p-text-box">
                <p class="product-subtitle"><%= truncate(item.description, length: 30) %></p>
              </div>
              <div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
              </div>
            </div>
        </div>
      <% end %>
      </div>
      <%= link_to 'Create an Item', new_item_path, class: "main-button mt-3"%>
  </div>
</div>
