<div class="container d-flex flex-column align-items-center text-center">
  <div class="container d-flex flex-column align-items-center mt-5">
    <h1> Pokeclo</h1>
    <h2>My Items</h2>
    <div class="product-card">
      <% @items.each do |item| %>
        <div class="product-unique-card mb-3">
          <p class="product-title"><%= item.name %></p>
          <div class="product-image">
            <%= cl_image_tag item.photo.key if item.photo.attached? %>
          </div>
          <p class="product-subtitle"><%= item.description %></p>
          <div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
              <span class="badge rounded-pill bg-primary"><%= item.slot %></span>
              <span class="badge rounded-pill bg-primary"><%= item.season %></span>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
