<div class="container d-flex flex-column align-items-center text-center pb-5">
  <div class="container d-flex flex-column align-items-center mt-3">
    <h1>Pokeclo</h1>

    <div class="container d-flex justify-content-center mt-4">
      <p><strong>My Items</strong></p>
    </div>
  <div class="container my-3" data-controller="filter-items">
    <p>FIlter by Category</p>
    <div class="container mb-3">
      <select class="form-select" data-action="change->filter-items#filter" data-filter-items-target="select">
        <option value="">All</option>
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="footwear">Footwear</option>
        <option value="outer">Outer</option>
      </select>
    </div>
    <div class="cards-wrapper">
      <% @items.each do |item| %>
        <div class="product-card" data-filter-items-target="card" data-slot="<%= item.slot.downcase %>">
          <div class="product-image product-image-wrapper" style="object-fit: cover;">
            <%= link_to item_path(item) do %>
              <%= cl_image_tag item.photo.key if item.photo.attached? %>
              <span class="product-badge rounded-pill bg-primary"><%= item.slot %></span>
            <% end %>
          </div>
            <p class="product-title"><%= item.name %></p>
            <p class="product-subtitle"><%= truncate(item.description, length: 60) %></p>
        </div>
      <% end %>
    </div>
  </div>

    <%= link_to "Create an Item", new_item_path, class: "main-button mt-5" %>
  </div>
</div>
