<div class="item-form">
  <h1 class="item-form__title">New item</h1>
  <%= simple_form_for @item, html: {class: "item-form__card"}  do |f| %>
    <%#= f.error_notification %>

    <div class="form-inputs">
      <%# カメラ起動ボタン %>
      <div class="item-form__field">
        <label class="main.button btn-lg w-100">
          <span class="main-button">📷 Take a Photo</span>
          <%= f.input_field :photo,
                            as: :file,
                            accept: 'image/*',
                            capture: 'camera',
                            class: "d-none" %>
        </label>
        <small class="text-muted">Tap to open your camera</small>
      </div>
      <div class="item form__field">
        <%= f.input :name, label: "Name", placeholder: "e.g., Vintage Levi's Jacket", input_html: { class: "item-input" } %>
      </div>
      <div class="item form__field">
        <%= f.input :description, label: "Description", placeholder: "Details about fit, material...", input_html: { class: "item-input" } %>
      </div>
      <%# 選択式にするとスマホで入力しやすくなります %>
      <div class="item form__field">
        <%= f.input :category, collection: ["Tops", "Bottoms", "Shoes", "Accessories"], prompt: "Select category", input_html: { class: "item-input" }%>
      </div>
      <div class="item form__field">
        <%= f.input :slot, collection: ["Casual", "Business", "Sports", "Party"], prompt: "Select slot" , input_html: { class: "item-input" }%>
      </div>
    </div>

    <div class="form-actions mt-4">
      <%= f.button :submit, "Add to Closet", class: "main-button btn-lg w-100" %>
    </div>
  <% end %>
</div>
