<div class="container"></div>
<%= link_to item_path(@item) do %>
  <%= cl_image_tag @item.photo.key, width: 300 %>
<% end %>
<div class="d-flex justify-content-start mt-2">
  <%= link_to "Edit", edit_item_path(@item), class: "btn btn-secondary btn-sm" %>
</div>
<p><%= @item.name %></p>
<p><%= @item.description %></p>
<p><%= @item.category %></p>
<p><%= @item.slot %></p>
<p><%= @item.photo.key %></p>
